.directions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #2E6A8A;
  height: 500px;
  width: 90%;
  margin: 70px;
  border: 2px solid white;
  color: white;
}

.box {
  border: 1px solid white;
  height: 50%;
  width: 50%;
}